<div class="main-container">
  <div class="container sign-forms m-auto col-12 col-md-8 col-lg-6">
    <form
      class="mx-auto d-flex flex-column justify-content-center bg-dark text-secondary p-5"
      [formGroup]="loginForm"
    >
      <h3 class="text-center fs-2 text-light">Log In</h3>
      <div class="form-group mb-3 mt-5">
        <label for="email">Email</label>
        <input
          type="email"
          class="form-control bg-dark text-secondary"
          name="email"
          formControlName="email"
          id="email"
          aria-describedby="emailHelp"
          [(ngModel)]="email"
        />
        @if(loginForm.get('email')?.invalid && loginForm.get('email')?.touched)
        {
        <span class="text-danger">Invalid email</span>
        }
      </div>
      <div class="form-group mb-3">
        <label for="password">Password</label>
        <input
          type="password"
          class="form-control bg-dark text-secondary"
          id="password"
          name="password"
          formControlName="password"
          [(ngModel)]="password"
        />
        @if(loginForm.get('password')?.invalid &&
        loginForm.get('password')?.touched) {
        <span class="text-danger">Invalid password</span>
        }
      </div>
      <div
        class="btns-container mt-4 text-center d-flex flex-column justify-content-center align-items-center"
      >
        <button
          type="submit"
          class="btn btn-danger d-block w-50 p-2 rounded-pill"
          [disabled]="loginForm.invalid"
          (click)="userLogin()"
        >
          Log In
        </button>
        <button id="google-button" class="btn mt-2 w-auto">
          Login with Google
        </button>
      </div>
      <div id="emailHelp" class="form-text text-center text-secondary mt-3">
        Don't have an account yet?
        <a class="text-light" [routerLink]="['/signup']">Sign Up</a>
      </div>
    </form>
  </div>
</div>
