<div class="main-container">
  <div class="container m-auto col-12 col-md-8 col-lg-6">
    <form class="mx-auto" [formGroup]="loginForm">
      <h3 class="text-center">Log In</h3>
      <div class="form-group mb-3 mt-5">
        <label for="email">Email<span class="red">*</span> </label>
        <input
          type="email"
          class="form-control"
          name="email"
          formControlName="email"
          id="email"
          aria-describedby="emailHelp"
          [(ngModel)]="email"
        />
        @if(loginForm.get('email')?.invalid && loginForm.get('email')?.touched)
        {
        <span class="text-danger">Invalid email</span>
        }
      </div>
      <div class="form-group mb-3">
        <label for="password">Password<span class="red">*</span> </label>
        <input
          type="password"
          class="form-control"
          id="password"
          name="password"
          formControlName="password"
          [(ngModel)]="password"
        />
        @if(loginForm.get('password')?.invalid &&
        loginForm.get('password')?.touched) {
        <span class="text-danger">Invalid password</span>
        }
      </div>
      <div class="btns-container text-center">
        <button
          type="submit"
          class="btn btn-danger d-block w-75 m-auto mt-3 p-2 ps-5 pe-5 rounded-pill"
          [disabled]="loginForm.invalid"
          (click)="userLogin()"
        >
          Log In
        </button>
        <button id="google-button" class="btn mt-2">Login with Google</button>
      </div>
      <div id="emailHelp" class="sign form-text text-center mt-3">
        Don't have an account yet?
        <a class="a" [routerLink]="['/signup']">Sign Up</a>
      </div>
    </form>
  </div>
</div>
