.btn {
  opacity: 0.8;
  transition: opacity 0.3s;
}

.btn:hover {
  opacity: 1;
}



.movies {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 400px;
  padding: 10px;
  margin: 10px;
}

.round {
  padding: 23px;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  font-size: 34px;
  background: rgb(255, 255, 255);
  transition: all 0.3s ease;
  margin: 0 auto;
}


#card-body:hover {
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 1 !important;
}

.custom-btn {

  cursor: default !important;
}