<nav class="navbar navbar-expand-lg sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand">
      <span class="text-light fw-bold fs-4" [routerLink]="['/home']">Top</span>
      <span class="text-danger fw-bold" [routerLink]="['/home']">Movies</span>
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="30"
        height="30"
        fill="white"
        class="bi bi-list"
        viewBox="0 0 16 16"
      >
        <path
          fill-rule="evenodd"
          d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5"
        />
      </svg>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a
            class="nav-link text-light fs-5 position-relative"
            aria-current="page"
            [routerLink]="['/movies']"
            routerLinkActive="active"
            >Movies</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link text-light fs-5 position-relative"
            aria-current="page"
            [routerLink]="['/tvshows']"
            routerLinkActive="active"
            >TV Shows</a
          >
        </li>
      </ul>
      <form class="d-flex" role="search">
        <input
          class="form-control me-2"
          type="search"
          placeholder="Search"
          aria-label="Search"
        />
        <button class="btn btn-outline-danger fs-5" type="submit">
          Search
        </button>
      </form>
      @if(loggedInSingal() || logOut) {
      <button class="btn btn-danger fs-5 ms-2" (click)="userLogOut()">
        LogOut
      </button>
      } @else {
      <button class="btn btn-danger fs-5 ms-2" [routerLink]="['/login']">
        LogIn
      </button>
      }
    </div>
  </div>
</nav>
