.nav-link {
  &::after {
    transition: ease-out 0.3s;
    position: absolute;
    content: "";
    width: 0;
    height: 0.125rem;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ff434c;
  }
  &.active {
    &::after {
      width: 80%;
    }
  }
}

input:focus {
  border-color: #ff434c;
  box-shadow: none;
}
