.navbar {
  background-color: rgba(33, 37, 41, 0.7);
  @media (min-width: 992px) {
    .nav-link {
      &::after {
        transition: ease-out 0.3s;
        position: absolute;
        content: "";
        width: 0;
        height: 0.125rem;
        bottom: 0;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: #ff434c;
      }
      &.active {
        &::after {
          width: 80%;
        }
      }
    }
  }
  @media (max-width: 991px) {
    .nav-link {
      &.active {
        color: #ff434c !important;
      }
    }
  }
}

.navbar-toggler {
  border: 0.1rem solid #ff434c;
  &:focus {
    box-shadow: 0px 0px 5px #ff434c !important;
  }
}

input:focus {
  border-color: #ff434c;
  box-shadow: none;
}

span {
  cursor: pointer;
}

.menu {
  margin-left: -50px;
  .dropdown-item.mb-2 {
    cursor: pointer;
    &:hover {
      color: black !important;
    }
    &:active {
      background-color: #f8f9fa;
    }
  }
}

.fs {
  font-size: small;
}
