<ngx-spinner
  bdColor="rgb(0,0,0)"
  size="large"
  color="#fe5c5c"
  type="ball-scale-multiple"
  [fullScreen]="true"
  ><p style="color: rgb(205, 69, 69)">Loading...</p></ngx-spinner
>
<!-- body -->
<div class="row d-flex justify-content-center">
  @if(forLaters.length <= 0) {
  <div
    class="empty-favlat d-flex justify-content-center align-items-center rounded text-light"
  >
    <div class="content-text">
      <i class="bi bi-stopwatch"></i> You Don't Have Any Scheduled Items
    </div>
  </div>
  } @else { @for (show of forLaters; track show._id) {
  <div class="col-lg-3 col-md-4 col-sm-6 mb-3">
    <a>
      <div
        class="hover position-relative overflow-hidden h-100 hover-1 text-white rounded-3 w-100"
      >
        <img
          [src]="show.image"
          class="img-fluid rounded-3 w-100 h-100 object-fit-cover"
          alt="Show Image"
        />
        <div
          class="hover-overlay position-absolute top-0 start-0 w-100 h-100"
        ></div>
        <div
          class="hover-1-content position-absolute start-50 translate-middle-x z-2 text-light text-center px-3 py-2 text-center"
        >
          <h5 class="hover-1-title mb-0 text-uppercase font-weight-bold fs-5">
            {{ show.title }}
            <div class="btns-favlat d-flex">
              <button
                class="btn btn-primary btn-sm mx-1 mt-2 w-100"
                placement="top"
                ngbTooltip="Remove For Later"
                (click)="removeForLater(show._id)"
              >
                For Later <i class="bi bi-watch-fill"></i>
              </button>
              <button
                class="btn btn-primary btn-sm mx-1 mt-2 w-100"
                [routerLink]="['/detailspage', show._id]"
              >
                Movie Details
              </button>
            </div>
          </h5>
        </div>
      </div>
    </a>
  </div>
  } }
</div>
