.header {
  padding: 5rem;
  --bs-bg-opacity: 0.7;
}

.empty {
  height: 31.25rem;
  --bs-bg-opacity: 0.8;
}

.content-text {
  font-size: 3rem;
}
@media (max-width: 61.9375rem) {
  .content-text {
    font-size: 1rem;
  }
}
