.carousel-caption:hover {
  opacity: 100% !important;
}
* {
  color: white;
}
.filtter {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0px;
}
.filtter .button-group {
  display: flex;
  gap: 30px;
}

.filtter button {
  background-color: #333;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
  margin: 0px 10px;
}

.filtter button:hover {
  background-color: #f10404;
}

.filtter button.active {
  background-color: red;
  color: white;
}

.card {
  background-color: transparent;
  position: relative;
  overflow: hidden;
  width: 20rem;
  height: auto;
  border: none;
  /* border-radius: 10px;  */
  transition: 0.3s ease-in;
  margin: 10px 0px;
  transform: scale(1);
}
.image {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 10px;
  transition: transform 0.3s ease-in;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 50%;
  background: linear-gradient(to top, rgba(0, 0, 0, 10), transparent);
  border-radius: 10px;
  pointer-events: none;
  transition: 0.5s ease-in-out;
}
.card:hover .overlay {
  background: linear-gradient(to top, rgba(0, 0, 0, 50), transparent);
}
.detailes {
  display: none;
  transition: 0.5s ease-in;
}
.card:hover img {
  transform: scale(1.1);
}
.card:hover {
  cursor: pointer;
}
.card:hover button {
  display: flex;
}
.caption {
  position: absolute;
  bottom: 10px;
  left: 10px;
  right: 10px;
  color: white;
  z-index: 1;
  text-align: left;
}

.title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20;
  padding: 0;
  color: white;
}

.Body .button {
  padding: 0.5em 1em;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  letter-spacing: 5px;
  text-transform: uppercase;
  cursor: pointer;
  color: #af2c2c;
  transition: all 500ms;
  font-size: 15px;
  position: relative;
  overflow: hidden;
  outline: 2px solid #af2c2c;
  display: none;
}

.Body button:hover {
  color: #ffffff;
  transform: scale(1.1);
  outline: 2px solid #5e0202;
  box-shadow: 4px 5px 17px -4px #912626;
}
.Body button:hover a {
  color: rgb(255, 255, 255);
}
.Body button::before {
  content: "";
  position: absolute;
  left: -50px;
  top: 0;
  width: 0;
  height: 100%;
  background-color: #af2c2c;
  transform: skewX(45deg);
  z-index: -1;
  transition: width 1000ms;
}

.Body button:hover::before {
  width: 250%;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}
a {
  text-decoration: none;
  color: rgb(173, 0, 0);
}
p {
  color: white;
}
