<!-- filtter -->
<div class="filtter">
  <button (click)="GetAll()">All</button>
  <button (click)="filterByGenre('History')">History</button>
  <button (click)="filterByGenre('Comedy')">Comedy</button>
  <button (click)="filterByGenre('Science Fiction')">Science Fiction</button>
  <button (click)="filterByGenre('Drama')">Drama</button>
  <button (click)="filterByGenre('War')">War</button>
  <button (click)="filterByGenre('Action')">Action</button>
  <button (click)="filterByGenre('Romance')">Romance</button>
</div>
<!-- body -->
<div class="row d-flex justify-content-between Body">
  <div
    *ngFor="let show of filteredMovies; trackBy: trackByMovieId"
    class="card"
  >
    <img [src]="show.image" class="image" alt="image" />
    <div class="overlay"></div>
    <div class="caption">
      <h1 class="title text-center">{{ show.title }}</h1>
      <div class="flex">
        <button class="button">
          <a
            [routerLink]="['/detailspage', show]"
            routerLinkActive="router-link-active"
            >Show details</a
          >
        </button>
      </div>
    </div>
  </div>
  <!-- pagiantion -->
  <app-pagination
    [currentPage]="currentPage"
    [limit]="limit"
    [total]="totalMovies"
    (changePage)="changePage($event)"
  >
  </app-pagination>
</div>
