.black-card {
  background-color: #000;
  border-radius: 10px;
  overflow: hidden;
  border: 1px solid #444;
}

.card-img-top {
  object-fit: cover;
  height: 200px;
}

.text-overlay {
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
  padding: 10px;
}

.carousel-caption {
  bottom: 10px;
  left: 0;
  right: 0;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.5);
}

.card-body {
  background: rgba(0, 0, 0, 0.6);
  padding: 15px;
}

.btn {
  opacity: 0.8;
  transition: opacity 0.3s;
}

.btn:hover {
  opacity: 1;
}

.carousel-item img {
  transition: transform 0.5s;
}

.carousel-item:hover img {
  transform: scale(1.05);
}

.carousel-caption:hover {
  opacity: 100% !important;
}
