<ngx-spinner
  bdColor="rgb(0,0,0)"
  size="large"
  color="#fe5c5c"
  type="ball-scale-multiple"
  [fullScreen]="true"
  ><p style="color: rgb(205, 69, 69)">Loading...</p></ngx-spinner
>
<!-- filtter -->

<div class="filtter d-flex justify-content-center align-items-center flex-wrap">
  <button
    class="btn mb-2 rounded-pill bg-dark text-light py-2 px-3 fs-6 mx-2"
    (click)="GetAll()"
  >
    All
  </button>
  <button
    class="btn mb-2 rounded-pill bg-dark text-light py-2 px-3 fs-6 mx-2"
    (click)="filterByGenre('History')"
  >
    History
  </button>
  <button
    class="btn mb-2 rounded-pill bg-dark text-light py-2 px-3 fs-6 mx-2"
    (click)="filterByGenre('Comedy')"
  >
    Comedy
  </button>
  <button
    class="btn mb-2 rounded-pill bg-dark text-light py-2 px-3 fs-6 mx-2"
    (click)="filterByGenre('Science Fiction')"
  >
    Science Fiction
  </button>
  <button
    class="btn mb-2 rounded-pill bg-dark text-light py-2 px-3 fs-6 mx-2"
    (click)="filterByGenre('Drama')"
  >
    Drama
  </button>
  <button
    class="btn mb-2 rounded-pill bg-dark text-light py-2 px-3 fs-6 mx-2"
    (click)="filterByGenre('War')"
  >
    War
  </button>
  <button
    class="btn mb-2 rounded-pill bg-dark text-light py-2 px-3 fs-6 mx-2"
    (click)="filterByGenre('Action')"
  >
    Action
  </button>
  <button
    class="btn mb-2 rounded-pill bg-dark text-light py-2 px-3 fs-6 mx-2"
    (click)="filterByGenre('Romance')"
  >
    Romance
  </button>
</div>
<!-- body -->
<div class="row d-flex justify-content-center">
  @for (show of filteredMovies; track show._id) {
  <div class="card position-relative overflow-hidden h-auto my-2">
    <div id="card-body" class="col-sm-12 col-md-3 p-2 w-100">
      <section
        class="movies p-1 m-1 text-white rounded"
        style="background-image: url('{{ show.image }}');"
      >
        <div id="card-body" class="opacity-0 p-2">
          <div class="d-block">
            <div class="row justify-content-center">
              @for (language of show.spoken_languages; track language) {
              <div
                class="btn custom-btn rounded-5 btn-warning col-4 mx-2 btn-sm"
              >
                <strong>{{ language }}</strong>
              </div>
              }
            </div>
          </div>
          <div class="containers w-100 text-center">
            <div class="row">
              <div class="d-flex justify-content-center">
                <div
                  class="btn custom-btn col-4 mt-2 rounded-5 btn-sm btn-success m-2 d-flex align-items-center justify-content-center"
                >
                  {{ show.vote_average }}
                  <i class="bi bi-star-fill ms-1"></i>
                </div>
              </div>

              <div class="movie-card my-2">
                <h2>{{ show.title }}</h2>
                <h6>{{ show.overview | slice : 0 : 75 }} ...</h6>
                <button
                  class="btn btn-danger btn-sm my-3"
                  [routerLink]="['/detailspage', show._id]"
                >
                  More Details
                </button>
                <div class="card-footer text-muted">
                  <small class="text-white align-self-end my-2"
                    >Released: {{ show.date }}</small
                  >
                </div>
              </div>

              <div class="d-flex justify-content-center flex-wrap">
                @for (genre of show.genres; track genre) {
                <div
                  class="btn custom-btn rounded-5 btn-outline-danger col-5 btn-sm"
                >
                  <strong>{{ genre }}</strong>
                </div>
                }
              </div>
            </div>
          </div>
        </div>
        <br />
      </section>
      <div class="d-flex mt-2 justify-content-center">
        @if(!loggedIn) {
        <button
          class="btn btn-outline-primary w-50 btn-sm mx-1"
          placement="top"
          ngbTooltip="You've to login"
        >
          Watch Later <i class="bi bi-stopwatch"></i>
        </button>
        <button
          class="btn btn-outline-danger w-50 btn-sm mx-1"
          placement="top"
          ngbTooltip="You've to login"
        >
          Add Favorite <i class="bi bi-heart"></i>
        </button>
        } @else { @if( !watchLater.includes(show._id)) {
        <button
          class="btn btn-outline-primary w-50 btn-sm mx-1"
          (click)="addToWatahLater(show._id)"
        >
          Watch Later <i class="bi bi-stopwatch"></i>
        </button>
        } @else {
        <button
          class="btn btn-primary w-50 btn-sm mx-1"
          (click)="addToWatahLater(show._id)"
        >
          For Later <i class="bi bi-stopwatch-fill"></i>
        </button>
        } @if( !favList.includes(show._id)) {
        <button
          class="btn btn-outline-danger w-50 btn-sm mx-1"
          (click)="addToFavList(show._id)"
        >
          Add Favorite <i class="bi bi-heart"></i>
        </button>
        } @else {
        <button
          class="btn btn-danger w-50 btn-sm mx-1"
          (click)="addToFavList(show._id)"
        >
          Favorite <i class="bi bi-heart-fill"></i>
        </button>
        } }
      </div>
    </div>
  </div>
  }
  <div class="pagination-container d-flex justify-content-center mt-3">
    <ngb-pagination
      [collectionSize]="totalMovies"
      [(page)]="currentPage"
      [pageSize]="limit"
      [maxSize]="pages"
      [rotate]="false"
      [ellipses]="true"
      (pageChange)="changePage($event)"
    />
  </div>
</div>
