<ngx-spinner
  bdColor="rgb(0,0,0)"
  size="large"
  color="#fe5c5c"
  type="ball-scale-multiple"
  [fullScreen]="true"
  ><p style="color: rgb(205, 69, 69)">Loading...</p></ngx-spinner
>
<!-- filtter -->

<div class="filtter d-flex flex-wrap">
  <button class="mb-2" (click)="GetAll()">All</button>
  <button class="mb-2" (click)="filterByGenre('History')">History</button>
  <button class="mb-2" (click)="filterByGenre('Comedy')">Comedy</button>
  <button class="mb-2" (click)="filterByGenre('Science Fiction')">
    Science Fiction
  </button>
  <button class="mb-2" (click)="filterByGenre('Drama')">Drama</button>
  <button class="mb-2" (click)="filterByGenre('War')">War</button>
  <button class="mb-2" (click)="filterByGenre('Action')">Action</button>
  <button class="mb-2" (click)="filterByGenre('Romance')">Romance</button>
</div>
<!-- body -->
<div class="row d-flex justify-content-center">
  <div
    *ngFor="let show of filteredMovies; trackBy: trackByMovieId"
    class="card"
  >
    <div id="card-body" class="col-sm-12 col-md-3 p-2 w-100 ">
      <section
        class="movies text-white"
        style="background-image: url('{{ show.image }}');"
      >
        <div id="card-body" class="opacity-0 p-2">
          <div class="d-block">
            <div class="row justify-content-center">
              <ng-container *ngFor="let language of show.spoken_languages">
                <div
                  class="btn custom-btn rounded-5 btn-warning col-4 mx-2 btn-sm"
                >
                  <strong>{{ language }}</strong>
                </div>
              </ng-container>
            </div>
          </div>

          <div class="containers w-100 text-center">
            <div class="row">
              <div class="d-flex justify-content-center">
                <div
                  class="btn custom-btn col-4 mt-2 rounded-5 btn-sm btn-success m-2 d-flex align-items-center justify-content-center"
                >
                  {{ show.vote_average }}
                  <i class="bi bi-star-fill ms-1"></i>
                </div>
              </div>

              <div class="movie-card my-2">
                <h2>{{ show.title }}</h2>
                <h6>{{ show.overview | slice : 0 : 75 }} ...</h6>
                <button
                  class="btn btn-danger btn-sm my-3"
                  [routerLink]="['/detailspage', show._id]"
                >
                  More Details
                </button>
                <div class="card-footer text-muted">
                  <small class="text-white align-self-end my-2"
                    >Released: {{ show.date }}</small
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
        <br />
      </section>
      <div class="row mt-2 justify-content-center">
        <button class="btn btn-outline-primary col-5 btn-sm mx-1">
          Watch Later <i class="bi bi-stopwatch"></i>
        </button>
        <button class="btn btn-outline-danger col-5 btn-sm mx-1">
          Favourite <i class="bi bi-heart-fill"></i>
        </button>
      </div>
    </div>
  </div>
  <!-- pagiantion -->
  <div class="pag">
    <div>
      <p-paginator
      [first]="(currentPage - 1) * limit"
      [rows]="limit" 
      [totalRecords]="totalMovies"
      [pageLinkSize]="5" 
      (onPageChange)="changePage($event)"
    ></p-paginator>
    
    
    
    </div>
  </div>
</div>
