
<!-- big-contianer -->
 <div class="bg-dark rounded mt-3">
<!-- container1 -->
<div class="row m-0 col-12 rounded">
  <!-- margin-start -->
  <div class="col-lg-1 d-lg-block d-none">1</div>
  
  <!-- movie/shows-details -->
  <div class="col-lg-7 col-md-8 col-12 rounded mb-2" style="background-color: rgb(30, 33, 35); box-shadow: 1px 1px 5px rgb(26, 26, 26);">
    <div class="text-white h1 mt-2">Trap (2024)</div>
    <small class="text-white">Original Title: Trap • Original Language: EN • 1h 45m</small>
    <i class="fa-regular fa-heart"></i>
    <div class="h4 mt-3" style="color: #adacbb;">30,000 fans. 300 cops. 1 serial killer. No escape.</div>
    
    <h4><span class="badge text-bg-danger mt-3">Overview</span></h4>
    <div class="text-white">A father and teen daughter attend a pop concert, where they realize they're at the center of a dark and sinister event.</div>
    
    <h6><span class="badge text-bg-danger mt-3">Directed by</span></h6>
    <div class="text-white">M. Night Shyamalan</div>
    
    <h6><span class="badge text-bg-danger mt-3">Written by</span></h6>
    <div class="text-white mb-2">M. Night Shyamalan</div>
   
    <div class="badge rounded-pill bg-danger ms-2 mt-2 mb-2 p-2">Action</div>
    <div class="badge rounded-pill bg-danger ms-2 mt-2 mb-2 p-2">Drama</div>
    <div class="badge rounded-pill bg-danger ms-2 mt-2 mb-2 p-2">Horror</div>
    <div class="badge rounded-pill bg-danger ms-2 mt-2 mb-2 p-2">Adventure</div>
  </div>
  
  <!-- movie/shows-img -->
  <div class="col-lg-3 col-md-4 col-12 d-flex justify-content-center align-items-center">
    <img src="https://image.tmdb.org/t/p/w500/jwoaKYVqPgYemFpaANL941EF94R.jpg" alt="" class="img-fluid rounded" style="box-shadow: 1px 1px 5px rgb(26, 26, 26);">
  </div>
  
  <!-- margin-end -->
  <div class="col-lg-1 d-lg-block d-none">1</div>
</div>


<!-- container2 -->

  <div class="row mt-3">

    <!-- margin-start -->
    <div class="col-lg-1 d-lg-block d-none ">1</div>

    <!-- cast -->
    <div class="col-sm-12 col-lg-10 row mx-auto">
      <div class="col-12 text-white"><h3>Cast</h3></div>
        <!-- 1st2 -->
      <div class="col-lg-4 col-md-6 col-sm-12 mb-3">
        <div class="row">
          <div class="col-6">
            <img src="https://image.tmdb.org/t/p/w300/9AhFeNHEcl8CDKHurwnSV3Ad35f.jpg" class="img-fluid rounded-3">
            <h5 class="text-white text-center mt-1">Josh Hartnett</h5>
            <p class="text-white text-center">Cooper</p>
          </div>
          <div class="col-6">
            <img src="https://image.tmdb.org/t/p/w300/rjucxWiHri2gkFyw5zf9ngVWd4l.jpg" class="img-fluid rounded-3">
            <h5 class="text-white text-center mt-1">Josh Hartnett</h5>
            <p class="text-white text-center">Cooper</p>
          </div>
        </div>
      </div>
           <!-- 2nd2 -->
      <div class="col-lg-4 col-md-6 col-sm-12 mb-3">
        <div class="row">
          <div class="col-6">
            <img src="https://image.tmdb.org/t/p/w300/aFknrMfeoEb7DRg9MnPx3zd9C7V.jpg" class="img-fluid rounded-3">
            <h5 class="text-white text-center mt-1">Josh Hartnett</h5>
            <p class="text-white text-center">Cooper</p>
          </div>
          <div class="col-6">
            <img src="https://image.tmdb.org/t/p/w300/ebcCkhqFtHvHx5dkBfVmlAknDxC.jpg" class="img-fluid rounded-3">
            <h5 class="text-white text-center mt-1">Josh Hartnett</h5>
            <p class="text-white text-center">Cooper</p>
          </div>
        </div>
      </div>
       <!-- 3rd2 -->
      <div class="col-lg-4 col-md-6 col-sm-12 mb-3">
        <div class="row">
          <div class="col-6">
            <img src="https://image.tmdb.org/t/p/w300/ktiKpWhBy1O4F9DtB1YxUf3uGA1.jpg" class="img-fluid rounded-3">
            <h5 class="text-white text-center mt-1">Josh Hartnett</h5>
            <p class="text-white text-center">Cooper</p>
          </div>
          <div class="col-6">
            <img src="https://image.tmdb.org/t/p/w300/6bM2rZBxLo3w36HGJSOGvJEpfvq.jpg" class="img-fluid rounded-3">
            <h5 class="text-white text-center mt-1">Josh Hartnett</h5>
            <p class="text-white text-center">Cooper</p>
          </div>
        </div>
      </div>

    </div>

    <!-- margin-end  -->
    <div class="col-lg-1 d-none d-lg-block">3</div>

  </div>


  
 <!-- container3 -->
 <div class="row rounded ">
    
    <!-- margin-start -->
    <div class="col-lg-1 d-lg-block d-none ">1</div>
     <!-- gallery -->
      <div class="col-lg-10 col-sm-12 rounded">
     <div ><div id="c1" class="carousel slide">
          <div class="text-white ms-sm-1"><h3>Gallery</h3></div>
        <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="https://image.tmdb.org/t/p/original/7Sl2B1q1gmqFUxi5nmuc2wfO6Zx.jpg" class="d-block w-100 rounded-3" alt="..." style="border-radius: 15px;">
              </div>
              <div class="carousel-item">
                  <img src="https://image.tmdb.org/t/p/original/iAlsYg6dlv1fvOBypM7SldIS1Wl.jpg" class="d-block w-100 rounded-3" alt="..." style="border-radius: 15px;">
              </div>
              <div class="carousel-item">
                  <img src="https://image.tmdb.org/t/p/original/dCgrFY6uTqhEpyhe8MzP1oExyLt.jpg" class="d-block w-100 rounded-3" alt="..." style="border-radius: 15px;">
              </div>
          </div>
  
          <div class="carousel-indicators">
            <button type="button" data-bs-target="#c1" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#c1" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#c1" data-bs-slide-to="2" aria-label="Slide 3"></button>
          </div>
  
          <button class="carousel-control-prev" type="button" data-bs-target="#c1" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#c1" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
</div>
     
    <!-- margin-end-->
    <div class="col-lg-1 d-lg-block d-none ">1</div>
  </div>
  

 <!-- container4 -->
<div class="container-fluid ms-lg-5 mt-3 pb-3 col-lg-11 ">
  <div class="row">
    <!-- margin-start -->
    <div class="col-lg-1 d-none d-lg-block">1</div>
    
    <!-- Recommended -->
    <div class="col-lg-10 col-sm-12">
      <div class="text-white mt-3"> <h3>Recommended</h3></div> 
      <div class="row">
        <!-- ------------------- -->
        <div class="col-lg-3 col-md-4 col-sm-6  mb-3 ">
          <div class="hover hover-1 text-white rounded-3" style="overflow: hidden;">
            <img src="https://image.tmdb.org/t/p/w500/865DntZzOdX6rLMd405R0nFkLmL.jpg" class="img-fluid rounded-3" alt="">
            <div class="hover-overlay"></div>
            <div class="hover-1-content px-3 py-2 text-center">
              <h5 class="hover-1-title text-uppercase font-weight-bold mb-0" style="font-size: 1.2rem;">Borderlands</h5>
              <div class="text-center mt-1 hover-1-year" style="font-size: 1rem;">(2024)</div>
              <div class="text-center hover-1-description" style="font-size: 0.9rem;">Action, Science Fiction, Comedy</div>
            </div>
          </div>
        </div>
        <!-- ------------------ -->
        <div class="col-lg-3 col-md-4 col-sm-6 mb-3">
          <div class="hover hover-1 text-white rounded-3" style="overflow: hidden;">
            <img src="https://image.tmdb.org/t/p/w500/b33nnKl1GSFbao4l3fZDDqsMx0F.jpg" class="img-fluid rounded-3" alt="">
            <div class="hover-overlay"></div>
            <div class="hover-1-content px-3 py-2 text-center">
              <h5 class="hover-1-title text-uppercase font-weight-bold mb-0" style="font-size: 1.2rem;">Alien: Romulus</h5>
              <div class="text-center mt-1 hover-1-year" style="font-size: 1rem;">(2024)</div>
              <div class="text-center hover-1-description" style="font-size: 0.9rem;">Action, Science Fiction, Horror</div>
            </div>
          </div>
        </div>
        
        <!-- ------------------- -->
        <div class="col-lg-3 col-md-4 col-sm-6 mb-3">
          <div class="hover hover-1 text-white rounded-3" style="overflow: hidden;">
            <img src="https://image.tmdb.org/t/p/w500/lZGOK0I2DJSRlEPNOAFTSNxSjDD.jpg" class="img-fluid rounded-3" alt="">
            <div class="hover-overlay"></div>
            <div class="hover-1-content px-3 py-3 text-center">
              <h5 class="hover-1-title text-uppercase font-weight-bold mb-0" style="font-size: 1.2rem;">Blink Twice</h5>
              <div class="text-center mt-1 hover-1-year" style="font-size: 1rem;">(2024)</div>
              <div class="text-center hover-1-description" style="font-size: 0.9rem;">Action, Science Fiction, Comedy</div>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-4 col-sm-6 mb-3">
          <div class="hover hover-1 text-white rounded-3" style="overflow: hidden;">
            <img src="https://image.tmdb.org/t/p/w500/865DntZzOdX6rLMd405R0nFkLmL.jpg" class="img-fluid rounded-3" alt="">
            <div class="hover-overlay"></div>
            <div class="hover-1-content px-3 py-2 text-center">
              <h5 class="hover-1-title text-uppercase font-weight-bold mb-0" style="font-size: 1.2rem;">Borderlands</h5>
              <div class="text-center mt-1 hover-1-year" style="font-size: 1rem;">(2024)</div>
              <div class="text-center hover-1-description" style="font-size: 0.9rem;">Action, Science Fiction, Comedy</div>
            </div>
          </div>
        </div>

      </div>
    </div>
    
    <!-- margin-end -->
    <div class="col-lg-1 d-none d-lg-block">1</div>
  </div>
</div>


</div>


