.details-container,
.show-image {
  box-shadow: 0.0625rem 0.0625rem 0.3125rem rgb(26, 26, 26);
}
.tagline {
  color: #adacbb;
}
.pref-badge {
  cursor: pointer;
  outline: 0.0625rem solid #4d555b;
  transition: 0.3s;
  &:hover,
  &:has(.bi-bookmark-heart-fill, .bi-stopwatch-fill) {
    background-color: #4d555b;
  }
}
