<ngx-spinner bdColor="rgb(0,0,0)" size="large" color="#fe5c5c" type="ball-scale-multiple" [fullScreen]="true">
  <p style="color: rgb(205, 69, 69)">Loading...</p>
</ngx-spinner>
<!-- big-contianer -->
<div class="rounded mt-3 bg-dark pt-3">
  <!-- container1 -->
  <div class="row m-0 col-12 rounded">
    <!-- margin-start -->
    <div class="col-lg-1 d-lg-block d-none"></div>

    <!-- movie/shows-details -->
    <div class="col-lg-7 col-md-8 col-12 rounded mb-2" style="
        background-color: rgb(30, 33, 35);
        box-shadow: 1px 1px 5px rgb(26, 26, 26);
      ">
      <div>
        <h5>
          @if(isFavorite(movie)){
          <span class="btn badge text-bg-danger mt-2 float-end me-2" (click)="deleteFromFavList(movie._id)">
            <i class="bi bi-heart-fill"></i>
          </span>
          }
          @else {
          <span class="btn badge text-bg-danger mt-2 float-end me-2" (click)="addToFavList(movie._id)">
            <i class="bi bi-heart"></i>
          </span>
          }
          @if(isWatchLater(movie)) {
          <span class="btn badge text-bg-danger mt-2 float-end me-2" (click)="deleteFromWatchLater(movie._id)">
            <i class="bi bi-stopwatch-fill"></i>
          </span>
          }
          @else{
          <span class="btn badge text-bg-danger mt-2 float-end me-2" (click)="addToWatahLater(movie._id)">
            <i class="bi bi-stopwatch"></i>
          </span>
          }
        </h5>
      </div>
      <div class="text-white h1 mt-2">
        {{ movie.title }} <span>({{ movie.date | date : "y" }})</span>
      </div>
      <small class="text-white">Original Title: {{ movie.title }} • Original Language:
        {{ movie.original_language }} • 1h 45m</small>
      <i class="fa-regular fa-heart"></i>
      <div class="h4 mt-3" style="color: #adacbb">
        {{ movie.tagline }}
      </div>

      <h4><span class="badge text-bg-danger mt-3">Overview</span></h4>
      <div class="text-white">
        {{ movie.overview }}
      </div>

      <h6><span class="badge text-bg-danger mt-3">Country of orgin</span></h6>
      <div class="text-white">{{ movie.production_countries }}</div>

      <h6><span class="badge text-bg-danger mt-3">Language</span></h6>
      <div class="text-white mb-2">{{ movie.spoken_languages }}</div>
      @for(genre of movie.genres; track genre) {
      <div class="badge rounded-pill bg-danger mt-2 mb-2 me-1 p-2">
        {{ genre }}
      </div>
      }
    </div>

    <!-- movie/shows-img -->
    <div class="col-lg-3 col-md-4 col-12 d-flex justify-content-center align-items-center">
      <img [src]="movie.image" alt="" class="img-fluid rounded w-100" style="box-shadow: 1px 1px 5px rgb(26, 26, 26)" />
    </div>

    <!-- margin-end -->
    <div class="col-lg-1 d-lg-block d-none">1</div>
  </div>

  <!-- container2 -->

  <!-- <div class="row mt-3"> -->
  <!-- margin-start -->
  <!-- <div class="col-lg-1 d-lg-block d-none">1</div> -->

  <!-- cast -->
  <!-- <div class="col-sm-12 col-lg-10 row mx-auto"> -->
  <!-- <div class="col-12 text-white"><h3>Cast</h3></div> -->
  <!-- 1st2 -->
  <!-- <div class="col-lg-4 col-md-6 col-sm-12 mb-3">
        <div class="row">
          <div class="col-6">
            <img
              src="https://image.tmdb.org/t/p/w300/9AhFeNHEcl8CDKHurwnSV3Ad35f.jpg"
              class="img-fluid rounded-3"
            />
            <h5 class="text-white text-center mt-1">Josh Hartnett</h5>
            <p class="text-white text-center">Cooper</p>
          </div>
          <div class="col-6">
            <img
              src="https://image.tmdb.org/t/p/w300/rjucxWiHri2gkFyw5zf9ngVWd4l.jpg"
              class="img-fluid rounded-3"
            />
            <h5 class="text-white text-center mt-1">Josh Hartnett</h5>
            <p class="text-white text-center">Cooper</p>
          </div>
        </div>
      </div> -->
  <!-- 2nd2 -->
  <!-- <div class="col-lg-4 col-md-6 col-sm-12 mb-3">
        <div class="row">
          <div class="col-6">
            <img
              src="https://image.tmdb.org/t/p/w300/aFknrMfeoEb7DRg9MnPx3zd9C7V.jpg"
              class="img-fluid rounded-3"
            />
            <h5 class="text-white text-center mt-1">Josh Hartnett</h5>
            <p class="text-white text-center">Cooper</p>
          </div>
          <div class="col-6">
            <img
              src="https://image.tmdb.org/t/p/w300/ebcCkhqFtHvHx5dkBfVmlAknDxC.jpg"
              class="img-fluid rounded-3"
            />
            <h5 class="text-white text-center mt-1">Josh Hartnett</h5>
            <p class="text-white text-center">Cooper</p>
          </div>
        </div>
      </div> -->
  <!-- 3rd2 -->
  <!-- <div class="col-lg-4 col-md-6 col-sm-12 mb-3">
        <div class="row">
          <div class="col-6">
            <img
              src="https://image.tmdb.org/t/p/w300/ktiKpWhBy1O4F9DtB1YxUf3uGA1.jpg"
              class="img-fluid rounded-3"
            />
            <h5 class="text-white text-center mt-1">Josh Hartnett</h5>
            <p class="text-white text-center">Cooper</p>
          </div>
          <div class="col-6">
            <img
              src="https://image.tmdb.org/t/p/w300/6bM2rZBxLo3w36HGJSOGvJEpfvq.jpg"
              class="img-fluid rounded-3"
            />
            <h5 class="text-white text-center mt-1">Josh Hartnett</h5>
            <p class="text-white text-center">Cooper</p>
          </div>
        </div>
      </div> -->
  <!-- </div> -->

  <!-- margin-end  -->
  <!-- <div class="col-lg-1 d-none d-lg-block">3</div> -->
  <!-- </div> -->

  <!-- container3 -->
  <!-- <div class="row rounded"> -->
  <!-- margin-start -->
  <!-- <div class="col-lg-1 d-lg-block d-none">1</div> -->
  <!-- gallery -->
  <!-- <div class="col-lg-10 col-sm-12 rounded">
      <div>
        <div id="c1" class="carousel slide">
          <div class="text-white ms-sm-1"><h3>Gallery</h3></div>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img
                [src]="movie.image"
                class="d-block mx-auto rounded-3"
                alt="..."
                style="border-radius: 15px"
              />
            </div>
            <div class="carousel-item">
              <img
                [src]="movie.image"
                class="d-block mx-auto rounded-3"
                alt="..."
                style="border-radius: 15px"
              />
            </div>
            <div class="carousel-item">
              <img
                [src]="movie.image"
                class="d-block mx-auto rounded-3"
                alt="..."
                style="border-radius: 15px"
              />
            </div>
          </div>

          <div class="carousel-indicators">
            <button
              type="button"
              data-bs-target="#c1"
              data-bs-slide-to="0"
              class="active"
              aria-current="true"
              aria-label="Slide 1"
            ></button>
            <button
              type="button"
              data-bs-target="#c1"
              data-bs-slide-to="1"
              aria-label="Slide 2"
            ></button>
            <button
              type="button"
              data-bs-target="#c1"
              data-bs-slide-to="2"
              aria-label="Slide 3"
            ></button>
          </div>

          <button
            class="carousel-control-prev"
            type="button"
            data-bs-target="#c1"
            data-bs-slide="prev"
          >
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button
            class="carousel-control-next"
            type="button"
            data-bs-target="#c1"
            data-bs-slide="next"
          >
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>
    </div> -->

  <!-- margin-end-->
  <!-- <div class="col-lg-1 d-lg-block d-none">1</div> -->
  <!-- </div> -->

  <!-- container4 -->
  <div class="container-fluid ms-lg-5 mt-3 pb-3 col-lg-11">
    <div class="row">
      <!-- margin-start -->
      <div class="col-lg-1 d-none d-lg-block">1</div>

      <!-- Recommended -->
      <div class="col-lg-10 col-sm-12">
        <div class="text-white mt-3">
          <h3>Recommended</h3>
        </div>
        <div class="row">
          <!-- ------------------- -->
          @for( movie of recommendedMovies ; track $index){
          <div class="col-lg-3 col-md-4 col-sm-6 mb-3">
            <a href="/detailspage/{{ movie._id }}">
              <div class="hover hover-1 text-white rounded-3 w-100" style="overflow: hidden">
                <img [src]="movie.image" class="img-fluid rounded-3 w-100" alt="" />
                <div class="hover-overlay"></div>
                <div class="hover-1-content px-3 py-2 text-center">
                  <h5 class="hover-1-title text-uppercase font-weight-bold mb-0" style="font-size: 1.2rem">
                    {{ movie.title }}
                  </h5>
                  <div class="text-center mt-1 hover-1-year" style="font-size: 1rem">
                    ({{ movie.date | date : "y" }})
                  </div>
                  @for(genre of movie.genres; track $index) {
                  <div class="text-center hover-1-description" style="font-size: 0.9rem">
                    {{ genre }}
                  </div>
                  }
                </div>
              </div>
            </a>
          </div>
          }
          <!-- ------------------ -->

          <!-- margin-end -->
          <div class="col-lg-1 d-none d-lg-block">1</div>
        </div>
      </div>
    </div>
  </div>
</div>