<ngx-spinner
  bdColor="rgb(0,0,0)"
  size="large"
  color="#fe5c5c"
  type="ball-scale-multiple"
  [fullScreen]="true"
>
  <p style="color: rgb(205, 69, 69)">Loading...</p>
</ngx-spinner>
<!-- big-contianer -->
<div class="rounded mt-3 bg-dark pt-3">
  <!-- container1 -->
  <div class="row m-0 col-12 rounded">
    <!-- margin-start -->
    <div class="col-lg-1 d-lg-block d-none"></div>

    <!-- movie/shows-details -->
    <div
      class="details-container col-lg-7 col-md-8 col-12 rounded mb-2 bg-dark"
    >
      <div
        class="text-white h1 mt-2 d-flex align-items-center justify-content-between"
      >
        <div>
          {{ movie.title }} <span>({{ movie.date | date : "y" }})</span>
        </div>

        @if(loggedIn) {
        <div class="d-flex">
          <span
            class="badge pref-badge mt-2 me-2 fs-2"
            placement="top"
            ngbTooltip="Add To Favorites"
            (click)="addToFavList(movie._id)"
          >
            <i
              [ngClass]="{
                bi: true,
                'bi bi-bookmark-heart-fill': favMovies.includes(movie._id),
                'bi bi-bookmark-heart': !favMovies.includes(movie._id)
              }"
            ></i>
          </span>
          <span
            class="badge pref-badge mt-2 me-2 fs-2"
            placement="top"
            ngbTooltip="Watch Later"
            (click)="addToWatahLater(movie._id)"
          >
            <i
              [ngClass]="{
                bi: true,
                'bi-stopwatch-fill': watchLaterMovies.includes(movie._id),
                'bi-stopwatch': !watchLaterMovies.includes(movie._id)
              }"
            ></i>
          </span>
        </div>
        } @else {
        <div class="d-flex">
          <span
            class="badge pref-badge mt-2 me-2 fs-2"
            placement="top"
            ngbTooltip="You've to login!"
          >
            <i class="bi bi bi-bookmark-heart"></i>
          </span>
          <span
            class="badge pref-badge mt-2 me-2 fs-2"
            placement="top"
            ngbTooltip="You've to login!"
          >
            <i class="bi bi-stopwatch"></i>
          </span>
        </div>
        }
      </div>
      <small class="text-white"
        >Original Title: {{ movie.title }} • Original Language:
        {{ movie.original_language }} • 1h 45m</small
      >
      <i class="fa-regular fa-heart"></i>
      <div class="tagline h4 mt-3">
        {{ movie.tagline }}
      </div>

      <h4><span class="badge text-bg-danger mt-3">Overview</span></h4>
      <div class="text-white">
        {{ movie.overview }}
      </div>

      <h6><span class="badge text-bg-danger mt-3">Country of orgin</span></h6>
      <div class="text-white">{{ movie.production_countries }}</div>

      <h6><span class="badge text-bg-danger mt-3">Language</span></h6>
      <div class="text-white mb-2">{{ movie.spoken_languages }}</div>
      @for(genre of movie.genres; track genre) {
      <div class="badge rounded-pill bg-danger mt-2 mb-2 me-1 p-2">
        {{ genre }}
      </div>
      }
    </div>

    <!-- movie/shows-img -->
    <div
      class="col-lg-3 col-md-4 col-12 d-flex justify-content-center align-items-center"
    >
      <img
        [src]="movie.image"
        alt=""
        class="show-image img-fluid rounded w-100"
      />
    </div>

    <!-- margin-end -->
    <div class="col-lg-1 d-lg-block d-none"></div>
  </div>

  <!-- container4 -->
  <div class="container-fluid ms-lg-5 mt-3 pb-3 col-lg-11">
    <div class="row">
      <!-- margin-start -->
      <div class="col-lg-1 d-none d-lg-block"></div>

      <!-- Recommended -->
      <div class="col-lg-10 col-sm-12">
        <div class="text-white mt-3">
          <h3>Recommended</h3>
        </div>
        <div class="row">
          @for( movie of recommendedMovies ; track $index){
          <div class="col-lg-3 col-md-4 col-sm-6 mb-3">
            <a href="/detailspage/{{ movie._id }}">
              <div
                class="hover position-relative overflow-hidden h-100 hover-1 text-white rounded-3 w-100"
              >
                <img
                  [src]="movie.image"
                  class="img-fluid rounded-3 w-100 h-100 object-fit-cover"
                  [alt]="movie.title"
                />
                <div
                  class="hover-overlay position-absolute top-0 start-0 w-100 h-100"
                ></div>
                <div
                  class="hover-1-content position-absolute start-50 translate-middle-x z-2 text-light text-center px-3 py-2 text-center"
                >
                  <h5
                    class="hover-1-title mb-0 text-uppercase font-weight-bold fs-5"
                  >
                    {{ movie.title }}
                  </h5>
                  <div class="text-center mt-1 hover-1-year mb-0 fs-6">
                    ({{ movie.date | date : "y" }})
                  </div>
                  @for(genre of movie.genres; track $index) {
                  <div class="text-center hover-1-description mb-0 fs-6">
                    {{ genre }}
                  </div>
                  }
                </div>
              </div>
            </a>
          </div>
          }

          <!-- margin-end -->
          <div class="col-lg-1 d-none d-lg-block"></div>
        </div>
      </div>
    </div>
  </div>
</div>
