
.header
{
    display: flex;
    text-align: right;
    color: rgb(223, 20, 20);
    padding: 100px;
    background-color: hsl(24, 100%, 1%);
    img
{
    
    float: left;
    border-radius:50%;
    width: 300px;
    height: 300px;
    margin-left: 10rem;
    
    
}
}
